.button {
    background-color: #444444;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 12px;
    width: 100%;
}

.loadingState {
    opacity: 0.5;
}
