.container {
    background-color: #fcebea;
    border-left: 4px solid #cc1f1a;
    color: #cc1f1a;
    flex-basis: 100%;
    padding: 12px;
    margin: 0 12px 24px;
}

.header {
    font-weight:600;
    margin-bottom: 4px;
}
