.container {
    display: flex;
    padding-bottom: 12px;
}

.labelContainer {
    display: flex;
    flex: 1;
}

.image {
    margin-right: 8px;
    max-height: 64px;
    max-width: 64px;
}

.label {
    align-self: center;
    font-weight: 500;
    margin-right: 16px;
}

.amount {
    align-self: center;
    font-weight: 600;
}
